<div class="flex relative min-h-full flex-col justify-center px-6 pb-12 mt-2 lg:px-8">
  <h1 class="absolute left-[30%] top-12 text-center text-5xl uppercase font-bold leading-9 tracking-wide text-rose-600">Blood</h1>
  <h1 class="absolute right-[32%] mr-2 top-12 text-center text-5xl uppercase font-bold leading-9 tracking-wide text-rose-600">Bank
    <span class="heart"><span class="heartbeat">🩸</span></span>
  </h1>
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img
      class="mx-auto w-32 h-28 shadow-danger shadow"
      src="https://png.pngtree.com/element_our/20200609/ourlarge/pngtree-donate-blood-image_2224076.jpg"
      alt="Your Company"
    />
  </div>

  <div class="mt-9 px-4 py-3 mb-10 w-[480px] mx-auto drop-shadow-md shadow-danger rounded shadow-lg">
    <h2
      class="my-1 mb-4 text-center text-3xl underline uppercase font-bold leading-9 tracking-wide text-rose-600"
    >Admin Registeration</h2>
    <form class="space-y-6" action="#" method="POST" #addForm="ngForm" (ngSubmit)="onSubmit(addForm)">
      <!-- email -->
      <div>
        <label
          for="email"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Enter your email</label
        >
        <div class="mt-2">
          <input
            id="email"
            name="email"
            type="email"
            placeholder="Enter your email"
            autocomplete="email"
            email
            ngModel
            #email="ngModel"
            required
            [class.bg-rose-100]="email.invalid && email.touched" [class.bg-white]="email.valid"
            class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:outline-none focus:ring-inset focus:ring-rose-600 sm:text-sm sm:leading-6"
          />
          <span *ngIf="email.invalid && email.touched" class="text-rose-500">*Please enter a valid email</span>
        </div>
      </div>

      <!-- password -->
      <div>
        <div class="flex items-center justify-between">
          <label
            for="password"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Password</label
          >
        </div>
        <div class="mt-2">
          <input
            id="password"
            name="password"
            type="password"
            placeholder="Enter your password"
            autocomplete="current-password"
            required
            ngModel
            #password="ngModel"
            minlength="6" pattern="^(?=.*\d).+$"
            [class.bg-rose-100]="password.invalid && password.touched" [class.bg-white]="password.valid"
            class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:outline-none focus:ring-inset focus:ring-rose-600 sm:text-sm sm:leading-6"
          />
        </div>
        <span *ngIf="password.invalid && password.touched" class="text-rose-500">*Please enter a password of minimum length 6 and containing atleast one digit</span>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label
            for="password"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Confirm Password</label
          >
        </div>
        <div class="mt-2">
          <input
            id="confirmPassword"
            name="confirmPassword"
            type="password"
            placeholder="Re-enter your password"
            autocomplete="current-password"
            required
            #confirmPassword="ngModel"
            ngModel
            minlength="6" pattern="^(?=.*\d).+$"
            [class.bg-rose-100]="(confirmPassword.invalid && confirmPassword.touched && password !== confirmPassword)" [class.bg-white]="confirmPassword.valid"
            class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:outline-none focus:ring-inset focus:ring-rose-600 sm:text-sm sm:leading-6"
          />
        </div>
        <span *ngIf="confirmPassword.touched && (password.value !== confirmPassword.value)" class="text-rose-500">*Pasword does not match</span>
      </div>

      <div class="px-1">
        <button
          type="submit"
          class="flex mb-8 hover:scale-105 transition-all w-full justify-center rounded-md bg-rose-500 px-4 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-rose-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Login
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      New Admin?
      <a
        href=""
        routerLink="/admin-signup"
        class="font-semibold leading-6 text-rose-500 hover:text-rose-600"
        >Register here</a
      >
    </p>

    <p class="mt-1 text-center text-sm text-gray-500">
      Login as user?
      <a
        href=""
        routerLink="/donor-login"
        class="font-semibold leading-6 text-rose-500 hover:text-rose-600"
        >Login here</a
      >
    </p>
  </div>
</div>
